<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <div class="wrapper">
          <div class="header">
              <div class="header-item">
                  <div class="spoqa-logo-wrap">
                      <a class="blog-title" href="{{ base_path }}/">코딩도사의 기술 블로그</a>
                  </div>
                  <div class="nav">
                      <input type="checkbox" id="toggle">
                      <label for="toggle" class="toggle" onclick></label>
                      <ul class="menu">
                          <li><a class="
                          {% if page.url == '/about.html' %}
                          selected
                          {% endif %} menu-about" href="{{ base_path }}/about/">소개</a></li>
                          <li><a class="
                          {% if page.url != '/about.html' and page.url != '/jobs.html' %}
                          selected
                          {% endif %} menu-blog" href="{{ base_path }}/">블로그</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="content">
              {{ content }}
          </div>
          <div class="push">
          </div>
          {% include footer.html %}
          <div class="footer">
              <div id="info">
                  <span>© <a href="http://dodopoint.com/">Spoqa</a> Inc. All rights reserved.</span>
                  <span>Powered by <a href="https://pages.github.com/">GitHub Pages</a>.</span>
              </div>
          </div>
      </div>




  </body>

</html>

