---
layout: default
---
{% assign post = page %}
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <span class="post-date">{{ page.date | date: "%Y-%m-%d" }}</span>
      {% if page.author %} • <span class="post-author">{{ page.author }}</span>{% endif %}
      {% if post.tags.size > 0 %} • <span class="post-tags">태그: {% for tag in post.tags %}<a class="post-tag" href="/tag/{{ tag | url_encode }}.html">{{ tag }}</a>,&nbsp;{% if forloop.last == false %} {% endif %}{% endfor %}</span>{% endif %}
    </p>
  </header>
  <article>
    <div class="post-content">
      {{ content }}
    </div>
  </article>
</div>

{% include comments.html %}
